{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "modules": "commonjs"
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "transform-class-properties",
    "syntax-async-functions",
    "add-module-exports"
  ]
}