{
  "extends": "eslint-config-hapi",
  "rules": {
    "indent": [2, 2]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  }
}